[2018-04-09 20:34] isaacabraham opened #1 "Core documentation"
Migrated from https://github.com/SAFE-Stack/SAFE-Stack.github.io/issues/11

- [x] Introduction
   - [x] Why SAFE?
- [x] Getting up and running
   - [x] Quick start
   - [x] SAFE Dojo
   - [x] Example repositories
   - [x] Feedback & Testimonials
   - [x] Support and Training
- [x] SAFE Stack overview
   - [x] Server Side programming in SAFE
   - [x] Cloud Platform - Azure (AWS + GCP to come?)
   -

[2018-04-10 02:07] kunjee17 commented on #1
@isaacabraham can you please add place for build with SAFE stack. It will contain production application that are built with SAFE or spin off SAFE stack...

[2018-04-13 07:25] isaacabraham commented on #1
@kunjee17 could that be the testimonials page? or something else?

[2018-04-16 17:30] isaacabraham commented on #1
@alfonsogarciacaro @Krzysztof-Cieslak @mangelmaxime I've created placeholder pages in the SAFE docs for more details of what Fable, Saturn and Elmish are, and specifically how they fit into SAFE.

As the maintainers of Fable, Saturn and Elmish, this is an opportunity for you to add whatever you would like on the SAFE site directly. This shouldn't be a replacement for docs on those sites, but shoul

[2018-04-17 20:40] alfonsogarciacaro commented on #1
I don't have a lot of time atm, but I'll try to write a quick summary and link to Fable site :+1:

[2018-04-17 20:56] forki commented on #1
That's the spirit. No need for details, we only need to explain why we
think it's a particularly good fit for the stack.

Alfonso Garcia-Caro <notifications@github.com> schrieb am Di., 17. Apr.
2018, 22:40:

[2018-04-17 21:28] Krzysztof-Cieslak commented on #1
What's free time?

[2018-04-20 15:42] kunjee17 commented on #1
I ll also add all SAFE stack links from awesome-fable to here...

[2018-04-20 15:51] isaacabraham commented on #1
Short capture of HMR in action.

![hmr](https://user-images.githubusercontent.com/1781813/39061043-5aa3737e-44c3-11e8-9789-029b285f180c.gif)

[2018-04-20 16:08] kunjee17 commented on #1
@isaacabraham HMR may be the best thing happened to Fable.... I guess we should be thanking @MangelMaxime if I am forgetting...

[2018-04-20 16:10] isaacabraham commented on #1
@MangelMaxime I've done the Elmish one now I think but obviously feel free to add more! I've also done Azure and Saturn - @Krzysztof-Cieslak please feel free to review / change and will done another one on Fable in the next days.

[2018-04-20 16:11] isaacabraham commented on #1
@kunjee17 that will be great. Feel free to add in the learnin resources section.

[2018-04-23 09:29] isaacabraham opened #27 "FAKE script"
I've put a placeholder in for explaining what the FAKE script does in the SAFE-template. https://safe-stack.github.io/docs/template-fake/

@theimowski would you be interested in writing it up? If not I'll do it no prob.

[2018-04-23 09:30] isaacabraham opened #28 "Explain dev and prod environments"
It's not easily clear how to go from dev to prod with SAFE apps - in dev you normally use `webpack-dev-server` to host the client but at deployment time you pre-compile the js and host in either the server as static content or some other way e.g. blob storage, function etc..

[2018-04-23 09:32] forki commented on #28
Yes. Very important point.

[2018-04-23 20:05] theimowski commented on #27
Sure, on its way

[2018-04-24 08:16] #27 closed

[2018-04-25 00:47] Zaid-Ajaj opened #32 "404 overview code sharing"
![export](https://user-images.githubusercontent.com/13316248/39220686-ebc273c4-4832-11e8-9de4-63eb7749f96c.png)

![screenshot from 2018-04-25 02-46-35](https://user-images.githubusercontent.com/13316248/39220694-f63fcaae-4832-11e8-9ef5-75ea2cb58656.png)

[2018-04-25 05:38] forki commented on #32
Any chance you can send us a pull request?

Zaid Ajaj <notifications@github.com> schrieb am Mi., 25. Apr. 2018, 02:47:

[2018-05-01 08:13] #32 closed

[2018-05-03 06:31] isaacabraham commented on #1
@forki would you be interested / able to write a short page on Mobile SAFE i.e. SAFE on React Native?

[2018-05-03 06:37] forki commented on #1
yeah one day - not today ;-)

[2018-05-05 07:48] forki opened #40 "Documentation about azure functions"

[2018-05-05 14:03] kunjee17 commented on #28
@isaacabraham I am using release settings from SAFE to deploy to prod. Does it required any other things. I know there can be many pre-run stuff. But basics still works.

One things I did, was that I need to manage port for Azure docker. As by default it is port 8080. So, that I am doing using dotnet core settings for environment. I m also setting up ASPNETCORE_ENVIRONMENT variable on my machine t

[2018-05-05 14:07] kunjee17 commented on #1
@isaacabraham did moved links related to SAFE from awesome-fable to safe learning resources. Sorry for delay.

[2018-05-06 11:19] isaacabraham commented on #40
What do we need to document here? I'm not a fan in the idea of replacing Functions documentation for F# etc. on the Azure site. Perhaps just something architectural in terms of how it can fit in with a SAFE web app or what?

[2018-05-06 11:23] isaacabraham opened #43 "Explain webpack template"
A short article explaining the different elements of the webpack template would be very useful, similar to the FAKE script documentation that we already have.

[2018-05-06 11:37] forki commented on #40
No. Not replacing. Just giving small intro that it works nicely and where
to find more information

Isaac Abraham <notifications@github.com> schrieb am So., 6. Mai 2018, 13:19:

[2018-05-27 17:37] isaacabraham commented on #43
@forki @theimowski do either of you know how this all works? I'm starting the docs for this but could use someone to just give me some bullet points of what the webpack config file actually does :-)

[2018-05-27 18:45] theimowski commented on #43
TBH I copied the file from Bookstore repo, have no experience with weback. Maybe @MangelMaxime can help

[2018-05-27 19:52] MangelMaxime commented on #43
I can probably help.

Alfonso added some nice comment for the next version of Fulma-demo.

[code]

Depending on your webpack config this should explain more or less all the thing we are using in it.

[2018-05-30 21:42] isaacabraham commented on #43
Thanks! This webpack seems to have quite a bit more features in it than is in the SAFE template currently. Would you be interested + willing to "upgrade" the template's webpack file to take advantage of it? I've tried, but many javascript-foo has failed me.

[2018-06-28 14:50] wallymathieu opened #52 "Clarify stance on Suave"
Right now the docs says that there is an issue with the Suave license. From what I can gather from the discussion at https://github.com/SuaveIO/suave/issues/704 it seems like there is no Suave licensing issue but rather something else. Perhaps writing that SAFE stack is [focusing on .net core](https://github.com/SuaveIO/suave/issues/704#issuecomment-401002212) in order to not cause undue confusion

[2018-07-20 01:08] Zaid-Ajaj opened #54 "Section "When should I use raw HTTP vs Fable Remoting?" is outdated"
Since the last upgrade, Fable.Remoting takes a different approach on raw http and makes it easier for clients other than the typed proxies (Fable or dotnet client) to talk to the server, please see [the new docs](https://zaid-ajaj.github.io/Fable.Remoting/src/raw-http.html) and update the section to how you see fit :smile:

[2018-07-29 14:01] #54 closed

[2018-07-29 20:01] isaacabraham commented on #52
@wallymathieu I'm closing this issue - I think it's been discussed at length on a couple of other repos. Feel free to DM me personally (or anyone else on the SAFE team) if you'd like though.

[2018-07-29 20:01] #52 closed

[2018-07-29 20:01] isaacabraham opened #56 "Document Elmish Bridge"
Explain what it is and where it can be used.

[2018-07-29 20:02] isaacabraham opened #57 "Elmish Toastr"
Include this somewhere in the docs

[2018-07-29 20:03] isaacabraham opened #58 "Security / Auth"
Discuss auth / security, explaining use of JWTs etc. and optionally Azure App Service turn-key auth.

[2018-08-04 11:07] isaacabraham commented on #40
Deployed the docs from #55.

[2018-08-04 11:07] #40 closed

[2018-08-04 11:08] #28 closed

[2018-08-04 11:08] isaacabraham commented on #28
This has been documented.

[2018-08-04 11:09] isaacabraham commented on #56
@Zaid-Ajaj would you be interested in writing something up about this for incorporation onto the SAFE site? If not, I can have a crack at it, but would you be able to review it?

[2018-08-04 15:50] wallymathieu commented on #52
The issue isn't really resolved due to the fact that https://github.com/SAFE-Stack/docs/blob/master/docs/news.md says that there is unclear future of the licensing of Suave. I thought that was resolved in the issue on https://github.com/SuaveIO/suave/issues/704 ?

[2018-08-05 11:09] Zaid-Ajaj commented on #56
Ofcourse I would be interested. I will be able write it soon-ish, then maybe @Nhowka can review it for correctness.

[2018-08-05 11:54] isaacabraham commented on #52
@wallymathieu I don't understand. In your post in the Suave repo (IIRC) you said that you understood and were happy to close the issue?

[2018-08-05 12:09] isaacabraham commented on #56
Doh. Apologies - I meant to initially tag @Nhowka to ask (as the author of the repository) to document it. Please accept my apologies for that. @Nhowka - would you be interested in writing something up or happy for Zaid to have a go and review?

[2018-08-05 13:38] wallymathieu commented on #52
Yes, as far as I understood it there isn't any future license changes for Suave, so it's not an issue for the Suave repo. What I understood from the issue was that the SAFE stack team has decided to go with Saturn, Giraffe and asp.net core. Initially it looks like there was confusion around the licensing of Suave. Though in the end since Saturn and Giraffe are built to depend heavily on asp.net co

[2018-08-05 16:54] isaacabraham commented on #52
Rather "built to take advantage" than "built to depend" :-)

We simply don't feel that Suave fits with the SAFE strategy going forward (and now that the license issue has been cleared up, I've published a new news item that makes that clear).

This isn't a criticism of them; their team simply are simply going in a different direction to ours, and it doesn't make sense for us to continue to recomme

[2018-08-05 16:57] wallymathieu commented on #52
Nice! I think that clears it up!

[2018-08-05 16:57] isaacabraham commented on #58
@k_cieslak given you've just done a blog post on this would you be interested in putting anything on this here (even if it's fairly lightweight and links to the LF doc for the heavy details)?

[2018-08-06 10:31] Zaid-Ajaj commented on #57
If you mention Elmish.Toastr in the docs , you might as well mention [Elmish.SweetAlert](https://github.com/Zaid-Ajaj/Elmish.SweetAlert), they are very nice when used together, has live docs,  up-to-date etc.

[2018-08-06 10:59] isaacabraham commented on #57
I thought the same. I was actually thinking of having an option on the template called something like "client-extras" or something which would bring down a load of extra packages like toastr, sweetalert etc.. @theimowski what do you think?

[2018-08-06 13:54] theimowski commented on #57
If it's just adding a new package not backed up by any code, I wouldn't add it to the template

[2018-08-06 14:31] isaacabraham commented on #57
Documentation only then :-)

[2018-08-06 14:32] isaacabraham commented on #57
I only thought it'll come to a point where I imagine there's a "batteries included" of many of these libraries like Toastr, SweetAlert etc. that we're always using - I can see that being a common request to just include all those packages if needed.

[2018-08-06 19:32] Zaid-Ajaj commented on #57
@isaacabraham I think it is better for people to learn to install packages with multiple dependencies, it is just two commands instead of one (nuget + npm) and then everything just works

[2018-08-07 07:19] isaacabraham commented on #57
@Zaid-Ajaj I get that. But (and I know I'm probably in the minority here!) the template wasn't designed to be a learning tool - we have the docs and the samples for that; it was designed to get people up and running with a stable, tested project structure as quickly as possible.

Think about the sorts of things most web applications use as cross cutting concerns. Alerts and toast notifications alm

[2018-08-07 07:36] #56 closed

[2018-08-07 08:15] isaacabraham commented on #56
@Nhowka @Zaid-Ajaj i've merged this in, made a few small changes and pushed. Thanks a lot for this! Also - please check out the [client server](https://safe-stack.github.io/docs/feature-clientserver/) page which now adds Elmish Bridge into the table - happy to put any corrections in. Thanks!

[2018-08-07 23:41] Zaid-Ajaj commented on #56
Thanks @isaacabraham, I have read the section and looks good.

On a side-note, the bits on Fable.Remoting are outdated, I will send a PR soon-ish when time permits ;)

[2018-08-08 07:25] isaacabraham commented on #56
@Zaid-Ajaj that would be very much appreciated :-)

[2018-08-10 13:01] et1975 opened #64 "Some Elmish links are broken"
Since the rename of the org happened: fable-elmish -> elmish

[2018-08-10 13:37] forki commented on #64
Can someone please PR it?

Eugene Tolmachev <notifications@github.com> schrieb am Fr., 10. Aug. 2018,
15:01:

[2018-08-13 11:17] #64 closed

[2018-08-20 10:28] slifin opened #68 "Broken link on introduction page"
Clicking "next quick start" at the bottom of https://safe-stack.github.io/docs/intro/

Takes you to: https://safe-stack.github.io/docs/intro/quickstart/ which 404s instead of:
https://safe-stack.github.io/docs/quickstart/

[2018-08-20 10:30] slifin commented on #68
Seems to be the case for a lot of these links, the arrow buttons often cause 404

[2018-08-20 13:27] isaacabraham commented on #68
Fixed. Not sure why that happened but I've just re-deployed, all is working again.

[2018-08-20 13:27] #68 closed

[2018-08-20 13:27] isaacabraham commented on #68
Thanks for pointing it out though!

[2018-08-20 16:57] slifin opened #69 "Further simplify installation"
I apologise in advance this is probably the wrong repo for this suggestion

Is it possible to install the prerequisites with a package like:

choco install dotnetsafe
brew install dotnetsafe
apt install dotnetsafe

Feels like we could lower the first barrier to entry by doing so

[2018-08-20 17:00] isaacabraham commented on #69
I'm not against this idea - or at least seeing if there's a way we could streamline this further (this might also help with people have different versions of yarn / node? or perhaps not - can they be installed side-by-side?)

[2018-08-29 12:32] fabiogaragiola opened #72 "SAFE doc site: navigation bar at the bottom of each page lead to 404 Not Found."
https://safe-stack.github.io/docs/

The navigation bar at the bottom of each page is broken: arrow links always lead to a 404 Not Found page except when navigating from Home to Introduction.

[2018-08-29 12:44] isaacabraham commented on #72
This was fixed a few weeks ago - looks like it's back again! Not sure what's going on here.

[2018-08-30 10:59] theimowski commented on #72
hmm, might be me occasionally deploying the docs from my box?

[2018-08-30 11:30] #72 closed

[2018-09-25 12:24] isaacabraham opened #75 "Links still broken"
I've temporarily disabled footer links until we fix this. cc: @theimowski

[2018-09-25 12:30] isaacabraham commented on #75
@theimowski I've just pushed again to the live site, it now seems to be "ok". Can you double check?

[2018-09-26 10:33] theimowski commented on #75
It works for me both on the website and local `mkdocs serve`

[2018-09-26 10:52] isaacabraham commented on #75
So then it's working now - I had to specify using abs_url in the theme. I don't know why.

[2018-09-26 10:52] #75 closed

[2018-09-26 10:54] isaacabraham commented on #1
I'm closing this issue . I think we have all the basics covered - perhaps mobile safe is something for another day. Especially now that there's Fabulous which is another way of writing such apps (or perhaps they are SAE apps ;-)

[2018-09-26 10:54] #1 closed

[2018-10-03 21:35] samuela opened #78 ""SAFE Stack templates" link is broken"
https://safe-stack.github.io/docs/component-elmish/ links to https://safe-stack.github.io/docs/component-elmish/safe-template.md which is a 404.

[2018-10-04 09:10] #78 closed

[2018-10-04 09:11] isaacabraham commented on #78
Thanks for spotting this - fixed.

[2018-11-07 16:07] isaacabraham opened #81 "Client / Server Communication"
This is now outdated as of the latest SAFE template which uses Fable 2 and Thoth. I'm not even sure what the "correct" way to do this is.

1. What should we replace the sample calls with `fetchAs` in [the docs](https://safe-stack.github.io/docs/feature-clientserver/) with?
2. What needs changing on the server side? I assume that the section **Turning on Fable's JSON Converter** is now outdated and

[2018-11-07 16:23] MangelMaxime commented on #81
[code]

If you want to use the auto decoders in a transparent way from Giraffe then users should use `ThothSerializer`.

If they want to use manual decoders or if needed, they can read/write the string directly from/into the body. [Example](https://github.com/SAFE-Stack/SAFE-BookStore/pull/367/files#diff-231fb1aacd4e4f793fcdc2352b9e4ac5)

[For example](https://github.com/SAFE-Stack/SAFE-BookStore/

[2018-11-07 17:08] MangelMaxime commented on #81
Yes it's coming from `Thoth.Json.Giraffe`

For now no because with Fable 2 you need to use `[<Inject>] ?resolver: ITypeResolver<'T>` for Fable to include the `TypeInfo` in the runtime.

And `Fable.PowerPack.Fetch` is function based.
We designed the `Fable.PowerPack.Fetch` so have the experience when using manual or auto decoders. But if you have a suggestion to support both style in a clean way we

[2018-11-07 17:18] isaacabraham commented on #81
I only thought there was another way because the comment says "cache the decoded for size optimization " - is there another way without caching e.g. is this valid?

[code]

[2018-11-07 17:20] MangelMaxime commented on #81
Ah yes, it's valid.

[2018-11-07 17:39] MangelMaxime commented on #81
I didn't know about the last one.

And I didn't experiment a lot with the auto decoder but it's really nice to see. I personnaly prefer if we show an usage with type hints, because I think it's better to be sure of the return type :)

So in the doc we could show something like::

[code]

In more complexe example showing the last case can be something interesting. Because from my experience, you en

[2018-11-07 17:41] isaacabraham commented on #81
Great, I agree. I'll look to push some updates to the docs this week - if you could review it when it's ready that would be great. @theimowski I'm also preparing a PR to update the template to move over to Thoth completely.

[2018-11-07 18:42] MangelMaxime commented on #81
Sure ping me when I need to review it.

[2018-11-08 07:43] isaacabraham commented on #81
The PR in the template is available [here](https://github.com/SAFE-Stack/SAFE-template/pull/179). Docs to follow.

[2018-11-08 12:02] theimowski commented on #81
I'm wondering whether it makes sense to add an example of `fetch` with custom Record type instead of an integer?

[2018-11-13 20:21] raquila opened #83 "Electron Integration"
Is there any support or guidance on how to integrate all this great work with an electron client application?

[2018-11-13 20:35] #81 closed

[2018-11-13 20:52] isaacabraham commented on #83
@raquila good question. I'm not aware of anyone having done it yet - would be super happy to be proved wrong here though!

[2018-11-14 13:44] Krzysztof-Cieslak commented on #83
@WalternativE mentioned using Fable/Elmish with Electron, as far as I remember.

[2018-11-14 16:59] isaacabraham commented on #57
Coming back to this - I installed Toastr today for the first time. I have to say that docs that in the readme are good, so even I was able to get it working first time :-) Nonetheless, I wonder if there's any way we could make it easier to install it?

For example, being able to have a command (even in the fake script?) like "install toastr" that would modify the webpack file, add the dependencies

[2018-11-14 17:01] isaacabraham commented on #57
@Zaid-Ajaj why would you use toastr instead of sweet alert when sweet alert has toast capabilities as well?

[2018-11-14 17:43] Zaid-Ajaj commented on #57
It it not trivial to go mutate`.js` source code (the webpack config) from another program in a robust way (for example you would have to check whether the style loaders are already installed in npm packages and whether they are already included in the loaders of weback etc.)

That said, it is still possible to create a cli tool that automates this but I am not that far yet :)

Just a personal pref

[2018-11-14 17:48] isaacabraham commented on #57
Yeah, I think we should look at this as a SAFE thing - there are several components that we should be pushing as the core set of libraries that will let people get up and running. Documentation is the cheapest way of raising awareness of them, but some kind of automated way to add a library would be awesome. This might not be possible, but we should think about it from a broader perspective.

[2018-11-14 18:10] WalternativE commented on #83
Yep, that's true. I opened sourced the repo @raquila so you can take a look. I'm currently using it as a workbench to write Reactstrap as well as other UI Fable bindings - so please excuse the mess. Disregard the Readme - it's terribly outdated. Juat run `npm start` to run the Fable/Webpack processes and `npm run launch` in another terminal session to launch Electron. You can find the repo here ht

[2018-11-14 18:16] forki commented on #57
Docs are way more important than scaffolding

Am Mi., 14. Nov. 2018, 18:48 hat Isaac Abraham <notifications@github.com>
geschrieben:

[2018-11-22 10:36] Zaid-Ajaj commented on #83
Would be nice if we could add support for running a local dotnet web server (Suave is easy to setup) alongside the electron process! this way you can use all dotnet API's from the server and all nodejs APIs from the electron client. When packaging the electron app, compile dotnet webserver to native / netcore-independent code so that you wouldn't need dotnet core the running machine

[2018-11-22 10:56] WalternativE commented on #83
Would you plan to use this server process for 'system tasks' rather than the Electron main thread, @Zaid-Ajaj?

[2018-11-22 11:11] Zaid-Ajaj commented on #83
@WalternativE Yeah it is personal preference, as a dotnet dev it is easier to work with dotnet APIs when it comes to database access (think type providers), file system operations, processes etc. because of familiarity first and second for not having to write fable/node bindings. Of course, if you have simple use cases, then a local web server is definitely overkill

[2018-11-22 21:00] WalternativE commented on #83
It would be a really nice experiment for sure. In theory you can pack the whole .NET core runtime and fork a process from the Electron application archive if I'm not totally mistaken. You want to give it a go, @Zaid-Ajaj? 🙂

[2018-11-23 10:34] Zaid-Ajaj commented on #83
@WalternativE I threw the idea out there for someone to try things out, because...

![comic](http://www.commitstrip.com/wp-content/uploads/2014/11/Strip-Side-project-650-finalenglish.jpg)

[2018-11-27 07:41] WalternativE commented on #83
@Zaid-Ajaj I would be awfully tempted to give it a go but my 'things-I-have-to-do'-pile is currently one of the few man-made structures visible from outer space right now at the moment 🙃

[2018-12-31 03:58] CalebRollins opened #92 "Deploy target does not exist"
[The doc for Docker deployment](https://safe-stack.github.io/docs/template-docker/) references a Deploy target in release.cmd, but this target does not exist in build.fsx.

[2019-01-04 11:59] theimowski commented on #92
I transferred the issue from SAFE template to SAFE docs - we should change the "Release script" section and mention this is a manual process, or if someone wants to they can grab a target from BookStore repository

[2019-01-29 12:15] #92 closed

[2019-01-29 12:23] theimowski commented on #43
the template now uses https://github.com/fable-compiler/webpack-config-template so I think we can close this issue and proceed with any webpack config discussion in that repository

[2019-01-29 12:24] #43 closed

[2019-01-31 12:13] theimowski opened #98 "Configure auto deployment for master branch"
Would be nice if pushing to master triggered automatic deployment to gh-pages

[2019-02-03 09:10] projecteon opened #101 "Link to Fulma is wrong"
Currently links to a 404 page since Fulma moved repos:
https://mangelmaxime.github.io/Fulma

Should link to:
https://fulma.github.io/Fulma/

[2019-02-03 10:38] isaacabraham commented on #101
Thanks for pointing this out. Would you consider submitting a PR with a fix for this? 😁

[2019-02-03 11:07] projecteon commented on #101
Hmm seems its updated but not published. Sorry.

[2019-02-03 11:07] #101 closed

[2019-02-10 08:24] halcwb opened #104 "Include material-ui as layout option"
Currently I am using [material-ui](https://mvsmal.github.io/fable-material-ui/#/home) as layout for in a SAFE template setup. Is it possible to add this ui lib as an alternative option to Fulma?

[2019-02-10 09:27] halcwb commented on #104
Sorry wrong repo.

[2019-02-10 09:27] #104 closed

[2019-02-19 17:22] breyed opened #105 "Inconsistency in SAFE's "S""
If you start at https://safe-stack.github.io/ and click Read the Documentation, and click Next two times, you end up on at [SAFE Stack components](https://safe-stack.github.io/docs/overview/), which tells you "S" is for Saturn.

But if you go back to https://safe-stack.github.io/ and click Read More About Safe, you end up at an [announcement](https://compositional-it.com/blog/2017/09-22-safe-relea

[2019-02-19 17:42] isaacabraham commented on #105
@breyed see https://safe-stack.github.io/docs/news/ for the background behind this. But yes, we're planning on updating that announcement page now as it's out of date and should explain this.

[2019-03-07 20:31] NatElkins opened #108 "Yarn required?"
I've installed the most recent version of the SAFE stack template, and tried to follow the instructions from the quick start: https://safe-stack.github.io/docs/quickstart/

I have npm installed, but not yarn.  When I tried to run `fake build --target run`, I received the following error:

[code]

After I installed yarn, it worked without issue.  Should the language be changed to require yarn, inst

[2019-03-08 12:28] theimowski commented on #108
Yes yarn is a prerequisite to run SAFE template with default configuration.
See also https://github.com/SAFE-Stack/docs/pull/106

[2019-03-25 16:29] isaacabraham commented on #105
Closing as documentation is updated now.

[2019-03-25 16:30] isaacabraham commented on #98
OK - what would be involved in doing this anyone? @Krzysztof-Cieslak ideas?

[2019-03-25 16:38] breyed commented on #105
It's better, but the Saturn link in the [announcement](https://compositional-it.com/blog/2017/09-22-safe-release/index.html) still brings you to a page about Suave.

[2019-03-25 16:55] isaacabraham commented on #105
@breyed yes, the main intro page has been updated but the next one down hasn't been. That's a bit more work that @Krzysztof-Cieslak will be doing at some point (I think!).

[2019-03-25 17:25] breyed commented on #105
Sounds good, though it's common to keep a GitHub issue open while there's still work to do, so that tracking stays robust. The issue can be assigned to the person who will be doing the work.

[2019-03-25 21:29] Krzysztof-Cieslak commented on #98
This could be easily solved with GitHub Actions, unfortunately, I only have enabled preview on my personal account, not on org one.

[2019-04-08 09:01] MarcCoquand opened #111 "Add instructions on how to add packages"
Hello,

As a newcomer to dotnet and F# ecosystem it would be very helpful if you added instructions on how to add dependencies to the project. Simply typing `paket add PACKAGE`, which is the instructions on nuget, is not enough. You have to do `paket add PACKAGE --project Server/Server.fsproj` for backend dependencies and `paket add PACKAGE --project Client/Client.fsproj` for frontend.

[2019-05-20 11:14] theimowski commented on #98
Here's a solution using Travis CI: http://derekweitzel.com/2017/02/08/deploying-docs-on-github-with-travisci/

For GitHub Actions I've found https://github.com/marketplace/actions/mkdocs-build-and-deploy-to-github-pages

I'm happy to do this - which option do we prefer?

[2019-05-20 11:38] isaacabraham commented on #98
github seems logical seem here is where the code is also stored?

[2019-05-21 11:33] theimowski commented on #98
Ok i registered for the GitHub Actions preview. @Krzysztof-Cieslak  it seems you can choose only a personal account in registration, no organisations. Hence I assume one can use it from personal account for organisation projects also

[2019-05-21 18:17] Krzysztof-Cieslak commented on #98
Nope, you can't. Or at least I don't see such an option

[2019-05-22 11:15] theimowski commented on #98
Ok then it might suggest GitHub Actions preview is only for personal repositories, since I didn't get "SAFE-Stack" in the dropdown.
I shall give the Travis option a try in this case

[2019-05-23 10:48] #98 closed

[2019-05-26 18:34] hiroCat opened #117 "links broken on template overview page"
the links to fulma templates are 404 ing on the template overview page :
[code]

[2019-05-27 11:13] #117 closed

[2019-05-27 11:16] theimowski commented on #117
thanks for reporting, should be fixed now

[2019-05-27 12:11] hiroCat commented on #117
yes! thanks !

[2019-05-29 14:22] bruinbrown opened #118 "Update documentation on registering an app on Azure for deployment"
cc @isaacabraham

Currently the documentation uses the legacy application registration within Azure AD but there is no mention that you should use the legacy creation flow. We have 2 options for how to fix this

1. We can change the wording to refer to ``App Registration (Legacy)``
2. We can look into how to use the new App Registration, this would likely need some changes
    - Screenshots will n

[2019-05-30 07:28] isaacabraham commented on #118
I believe that the new app registration page lets you specify what tenant its usable in at the time of creation of the app registration itself?

If native apps aren't available anymore, what's the alternative?

[2019-07-26 07:09] selketjah opened #124 "Document interacting between client and server: return unit"
When you return a unit from the server, Thoth.Json gives you this error:
`Cannot generate auto decoder for Microsoft.FSharp.Core.Unit. Please pass an extra decoder.`

There are a couple of known workarounds, it would be nice to have these known exceptions documenten somewhere.

[2019-07-31 12:03] isaacabraham commented on #124
This is something that catches lots of people out - the resulting type should be `obj` (or can simply be the generic `_`) which then works. Let's add a page with a few of these ideas.

[2019-08-25 15:19] isaacabraham commented on #124
@selketjah do you think that this would have been both obvious, useful and findable to you?

[2019-08-26 06:07] #124 closed

[2019-10-24 12:16] MangelMaxime opened #136 "Update 'Handling "unit" calls' section"
On [this page](https://safe-stack.github.io/docs/feature-clientserver-serialization/), there is a section dedicated to `Handling "unit" calls`.

Today, I released a new versions of Thoth.Json(.Net) which add support for `unit`. Could someone from the SAFE stack test it and see if it's working correctly?

If yes, then we should add a mention that since `Thoth.Json 3.4.0` and `Thoth.Json.Net 3.6.0`

[2019-10-25 11:13] theimowski commented on #136
Thanks @MangelMaxime - when https://github.com/SAFE-Stack/SAFE-template/pull/318 is ready I'll update the Thoth.Json dependencies to latest, test them and then when template ships with latest Thoth.Json we can add a note on that in docs :+1:

[2020-02-08 12:05] tbprince opened #144 "Error 404 when deployed through AspNetCoreModule"
Hello,

just tried to deploy a quick start project to IIS using AspNetCoreModule (but I have to say that HttpPlatformHandler yelds the same results).

Project has been published as a framework-independent app which means that the whole .NET Core Framework gets published to support server where .NET Core hosting bundle had not previously installed.

So basically you create an image to publish like

[2020-02-08 12:47] tbprince commented on #144
Hello,

while digging better into the quickstart sample it seems that two different servers are started when using

' fake build --target run'

The first one runs on port 8080 and that's what browser connects to while another server runs on port 8085. I do believe that in my tests I'm only starting the latter and that's why I always get a 404.

Thanks.

[2020-02-08 13:23] isaacabraham commented on #144
The standard fake script runs by using the webpack dev server. It hosts the front-end for hot module reloading etc. and proxies requests to the server automatically. Have a read [here](https://safe-stack.github.io/docs/faq-build/) for how to transition to a "static" deployment process. In such a case, all your client & server files are emitted into a single folder and the server (saturn, giraffe e

[2020-02-08 15:47] tbprince commented on #144
Hello @isaacabraham ,

I was able to solve my issues, it seems. Basically the problem was related to the _Client_ folder. When the server starts it seems that it was not able to properly locate the _Client_ folder. Default configuration expects (correct me if I'm wrong) to access that from "../Client/public" in

`let publicPath = Path.GetFullPath "../Client/public"`

for whatever reason it was not

[2020-02-10 14:23] isaacabraham commented on #144
@markCompostional how far did you get with this - did it work for you in the end?

[2020-02-10 14:25] isaacabraham commented on #144
@tbprince thanks for digging into this - something has evidently changed then. I just don't know what has!

[2020-02-10 16:34] tbprince commented on #144
Hello @isaacabraham,

contents of the Client folder have probably not been deployed at our first attempt or have not been deployed the way it should. The demo is now working fine at:

http://safedemo.eu-w.cloudapps.enterprisehost.biz/

As this is a technology similar to Azure WebSites v2, the interesting part is that it can be scaled out and it is using a framework-independent deploy. I also suspe

[2020-02-10 16:55] isaacabraham commented on #144
That sounds like it would be fine :-) Ready-to-run is something new that we want to incorporate into the SAFE template as well in the future!

[2020-02-10 21:35] tbprince commented on #144
We will try to publish using R2R and tiered compilatoin (still framework-independent) and I will post results tomorrow. 😊 Just to let you know.

[2020-03-01 02:26] tbprince commented on #144
@isaacabraham

just to let you know that we have been able to publish the demo app with tiered-compilation and Ready2Run images (win-x64) enabled. So far, so good.

We only had an error during the

`fake build --target bundle`

phase since we received an error about the missing RID specification notwithstanding the fact that we had placed the RID (win-x64) inside the fsproj file. Thus we decided t

[2020-03-04 08:52] OnurGumus opened #145 "Update to .net core 3.1"
I am observing Server side still uses .net core 3.0 which is obsolete by now.

[2020-03-05 13:29] theimowski commented on #145
.net core 3.1 is part of [SAFE v2](https://github.com/SAFE-Stack/SAFE-template/issues/269) which is currently WIP - if it takes too long, we'll need to do the .net core update for current template

[2020-04-17 14:39] isaacabraham opened #148 "Update the website"
I've been looking at giving the website a refresh. I think that we have a few options:

1. Do nothing.
2. Keep the site theme and tech (mkdocs) the same. Create a new static landing page, or simply incorporate it onto the docs home page.
3. Migrate the site to a new tech e.g. hugo learn? Create a new static landing page, or simply incorporate it onto the docs home page.
4. Create a new site that h

[2020-04-17 14:43] panesofglass commented on #148
I'm tentatively available to help. :)

[2020-04-17 14:47] Krzysztof-Cieslak commented on #148
5. Migrate to Fornax ;-)

[2020-04-17 15:23] robertpi commented on #148
Happy to help out. I think the main problems with the landing page are:

- Annoying animation, that delays you seeing the content
-  doesn't easily allow you to click though to the main docs / quick start / github repo.

Other than the design is quite nice and could be tweaked to solve those problems. I find the design and layout of the docs themselves quite good too.

Don't know mkdocs. Hugo is a

[2020-04-17 16:39] Krzysztof-Cieslak commented on #148
Bear in mind that we already have a fairly good documentation template for Fornax, that's defined in Waypoint - it's based on Hugo learn, I'm using it currently for Ionide webpage (https://ionide.io/)

[2020-04-20 07:28] isaacabraham commented on #148
OK, let's keep this discussion going. Perhaps the best way is to talk about the outcomes that we should need, regardless or hugo, mkdocs, fornax, whatever:

* Documentation should be easy to update - ideally markdown, I suppose.
* Documentation should be hierarchical in nature
* Documentation must be searchable
* Ability to create or host some kind of landing page that may or may not share the sam

[2020-04-20 22:36] Krzysztof-Cieslak commented on #148
Just FYI, https://saturnframework.org is all ported to Fornax. Landing page is still plain HTML, I’ve seen no point in porting it, but the documentation and api ref is generated. Additionally it’s all searchable.

[2020-04-26 15:54] panesofglass commented on #148
@Krzysztof-Cieslak seems like a good approach. Do you have theme support in Fornax yet?

[2020-04-27 15:46] robertpi commented on #148
Yes and no. The look and feel comes from the code "generators" folder, so creating a new theme is simply swapping this for code that renders the posts differently.

I think it would be good if we could make changing the look and feel easier, but haven't spent too much time thinking about how it could be done. Maybe @Krzysztof-Cieslak already has?

[2020-04-27 15:47] Pipsy100 opened #149 "mkdocs serve issue"
C:\C#Projects\SAFE-Stack\docs\docs>mkdocs serve
INFO    -  Building documentation...
INFO    -  Cleaning site directory
INFO    -  The following pages exist in the docs directory, but are not included in the "nav" configuration:
  - template-webpack.md

I am getting this error while running mkdocs serve command. Anybody knows why?

[2020-04-27 18:30] theimowski commented on #149
is that a warning or error? If warning then the message makes sense - probably the document hasn't been added to the menu

[2020-04-27 20:51] Pipsy100 commented on #149
No Thomas, it is an error.

Van: Tomasz Heimowski <notifications@github.com>
Verzonden: maandag 27 april 2020 20:31
Aan: SAFE-Stack/docs <docs@noreply.github.com>
CC: Pipsy100 <w_hoogland@hotmail.com>; Author <author@noreply.github.com>
Onderwerp: Re: [SAFE-Stack/docs] mkdocs serve issue (#149)

is that a warning or error? If warning then the message makes sense - probably the document hasn't been

[2020-04-28 19:50] theimowski commented on #149
That `template-webpack.md` file has been once added as a draft but never really got attention - removed it now, can you try with latest master?

[2020-05-14 15:15] demirtas-dev commented on #148
Hi everyone! Just an update to where we are at the moment with this issue.

Most likely, we will have a seperate landing page and a docs page, each based on two different themes. We we will make slight adjustments to colors, and possibly the layout, to maintain consistency between them.

We are considering a few different themes which I will list below but the one we favour as the landing page at

[2020-05-30 09:05] theimowski opened #153 "Fix automatic CI docs build"
I've just realised that for a long time now the travis builds are actually failing https://travis-ci.com/github/SAFE-Stack/docs/builds

[2020-05-30 18:04] isaacabraham opened #154 "Add lots of recipes"
This is a tentative list of "recipes" or "how-to" guides that the docs should offer. Hopefully each should be relatively small and quick to author!

## Build and Hosting
- [ ] How do I make a combined Client & Server build?
- [ ] How do I host inside Docker?
- [ ] How do I host inside Google Cloud Platform?
- [ ] How do I host inside Azure App Service?
- [ ] How do I host inside Amazon Web Service

[2020-05-31 14:24] theimowski commented on #154
Here's a list of items I'd add / change.
Most of these are due to us removing features in v2 compared to v1.

 ## building and hosting

 • How do I handle application versioning - As we remove support for RELEASE_NOTES  and Version.fs with FAKE support for parsing, we need to explain how this can be done
 • How do I add / remove FAKE support? - similar to Paket, one might want this small change wh

[2020-05-31 20:52] isaacabraham commented on #154
All added :-)

[2020-06-01 14:42] theimowski commented on #154
I've moved a couple items in the list under proper group

[2020-06-05 10:35] isaacabraham opened #155 "Docs build is broken"
@theimowski I've had a look, seems that it happened a month ago or so... any idea what happened? I can't figure it out, something about a missing svg icon?

[2020-06-06 05:59] Ulriksen commented on #154
I'd very much love to see one on how to authenticate with Azure AD, preferably that the user is member of a specific group.

[2020-06-06 07:04] theimowski commented on #155
Haven't looked yet, but spotted that in #153

[2020-06-08 15:18] theimowski commented on #155
Fixed now, was due to breaking change in MkDocs material https://squidfunk.github.io/mkdocs-material/releases/5/#extrasocial

For reference the error was:
`jinja2.exceptions.TemplateNotFound: .icons/.svg`

[2020-06-08 15:18] #155 closed

[2020-06-08 15:36] theimowski opened #156 "Add migration path from v1 to v2"
I think I saw a question during fsharpconf about migration path from v1 to v2.
Although we don't really support "upgrading" story, we might give a short description what other aspects changed between v1 and v2

[2020-06-08 16:38] isaacabraham commented on #153
Almost there! The original error about SVG is gone but this is now in its place

[code]

[2020-06-08 18:05] theimowski commented on #153
is this from your local console? Travis works fine: https://travis-ci.org/github/SAFE-Stack/docs

[2020-06-09 09:26] isaacabraham commented on #153
Doh. No idea what I was looking at!

[2020-06-09 09:26] #153 closed

[2020-06-12 07:07] Jmaharman commented on #154
I recently added Tailwind to a SAFE template to try them both out. I'd be happy to create a recipe for that once the new minimal template is out and I have a recipe format to follow.

[2020-06-12 07:22] Jmaharman commented on #154
One misconception I had coming into SAFE was thinking that it was a purpose built stack, I knew it was made out of a number of frameworks / libraries, but I didn't quite realise how much you could just play around with it from there. It's a starting point more than anything.

I think the way it is moving forward makes total sense, having a minimal template and a full template. It reminds me a litt

[2020-06-12 11:49] isaacabraham commented on #154
We're working on a recipe template and are doing a few sample recipes to get it going. I'm hoping to start rolling them out next week :-)

[2020-07-19 20:25] ajeckmans opened #158 "broken links on template-overview.md (elmish.streams)"
There are a few broken links to a library called Elmish.Streams in the template overview page. I cant find any documentation or source of this library. Could it have been renamed to Fable.Reaction?

[2020-08-27 23:17] Kinrany opened #165 "Broken links in feature-clientserver-bridge.md"
On the website: https://safe-stack.github.io/docs/feature-clientserver-bridge/

In the second paragraph the links "stateful APIs in Saturn" and "model-view-update pattern" are broken both on the website and in the Markdown source.

The website links are pointing to sub-resources (e.g. `docs/feature-clientserver-bridge/component-saturn`) instead of resources on the same level (e.g. `docs/component-

[2020-08-29 11:27] theimowski commented on #165
Thanks for reporting that - are you willing to create a PR that would fix it?

[2020-08-29 12:55] Kinrany commented on #165
Sure! I don't really know how though

[2020-08-30 08:20] theimowski commented on #165
How to fix the issue or how to contribute?

[2020-08-30 08:26] Kinrany commented on #165
How to fix the issue.

Is it important for markdown links to work? Otherwise, would it work to just append `../` to both links?

I'm assuming there could be other similar problems with links, so we may want to check the history and see what else changed when these links broke

[2020-08-30 08:55] theimowski commented on #165
I think it's enough to make sure the link has an `.md` extension. Have a look at other sections, e.g. https://github.com/SAFE-Stack/docs/blob/master/docs/faq-build.md where links work fine

[2020-08-31 10:22] #165 closed

[2020-08-31 16:57] markpattison commented on #154
Recipe suggestion:  How to serve up a file (created on the server) to a user.

Example workflow from the user's point of view:

1. User presses button
2. Front-end sends request with parameters to the server
3. Server creates a file based on request
4. User gets the usual "Download/open./save as..." dialogue in browser

[2020-09-03 09:05] isaacabraham commented on #158
Can this be closed now?

[2020-09-03 09:45] theimowski commented on #158
The problem is still there, but it's in the "Legacy v1 SAFE Template" section, which I want to treat as a read-only archive for a couple more months since v2 has been already released

[2020-09-03 11:43] #145 closed

[2020-09-03 11:44] #148 closed

[2020-09-03 11:44] #149 closed

[2020-09-03 11:44] #111 closed

[2020-09-03 11:48] isaacabraham commented on #111
Fixed with the latest recipes e.g. https://safe-stack.github.io/docs/recipes/package-management/add-nuget-package-to-server/

[2020-09-03 11:49] isaacabraham commented on #108
Obsolete with SAFE 2

[2020-09-03 11:49] #108 closed

[2020-09-03 22:03] isaacabraham commented on #57
Closing with a recipe link

[2020-09-03 22:03] #57 closed

[2020-09-03 22:04] isaacabraham commented on #118
Closing - obsolete.

[2020-09-03 22:04] #118 closed

[2020-09-05 14:11] isaacabraham commented on #58
Closing (recipes listed as up-for-grabs)

[2020-09-05 14:11] #58 closed

[2020-09-05 14:12] isaacabraham commented on #69
Closing - SAFE 2, along with core 3.1 local tools, simplifies this I think.

[2020-09-05 14:12] #69 closed

[2020-09-05 14:12] #105 closed

[2020-09-05 14:12] isaacabraham commented on #136
@theimowski @MangelMaxime I think that we can close this, right?

[2020-09-05 14:13] isaacabraham commented on #144
I think that this is all fixed with SAFE 2.

[2020-09-05 14:13] #156 closed

[2020-09-05 19:55] MangelMaxime commented on #136
Hello @isaacabraham,

not yet the documentation still need an update because it says that unit is not supported by Thoth.Json while it is now.

[2020-09-11 10:13] TerenceHinrichsen opened #183 "Broken link on Upgrade from V1 to V2 recipe"
Going through the template now, just the following broken link.

1. Quick Start link in the second paragraph is broken - referencing localhost - should be https://safe-stack.github.io/docs/quickstart/

[2020-09-11 10:25] TerenceHinrichsen commented on #183
Apologies, see it has already been fixed by #181

[2020-09-11 10:25] #183 closed

[2020-09-30 14:16] halcwb opened #189 "Migrate to paket is missing"
When trying to read the recipe for migrating to paket, [Migrate to Paket](https://safe-stack.github.io/recipes/package-management/migrate-to-paket.md), the link is not valid.

[2020-09-30 14:39] halcwb opened #190 "Use hot reload recipe not correct"
In the hot reload recipe it says that you need to add the devServer to the webpack.config.js for the minimal template, this is not true. The devServer is already configured.

[2020-09-30 14:42] halcwb commented on #190
Sorry, I was incorrect.

[2020-09-30 14:42] #190 closed

[2020-10-01 10:56] theimowski commented on #189
The invalid link is in `docs/recipes/build/add-build-script.md`

[2020-10-05 09:02] theimowski opened #192 "Normalize links"
We receive many issues about not working links, e.g. #187 #189 #191
If you look at how we create the links - sometimes it's an absolute and sometimes it's a relative reference.
We should use one single, normalised convention for the links and ideally automate checking that none of the links are "dead"

[2020-10-05 09:35] theimowski commented on #189
Fixed by https://github.com/SAFE-Stack/docs/commit/864695898c79c73ada61c13ec8cc65785468d9a6

[2020-10-05 09:35] #189 closed

[2020-10-05 09:38] theimowski commented on #192
I think the issue is with absolute references - when previewing the docs locally, you get e.g. `http://localhost:8000/recipes/build/add-build-script/` vs the docs url is `https://safe-stack.github.io/docs/recipes/build/add-build-script/` (note the additional `docs/`).
https://github.com/SAFE-Stack/docs/commit/864695898c79c73ada61c13ec8cc65785468d9a6 is an example of how to fix this by using relati

[2020-10-05 11:35] olivercoad commented on #192
Serving the docs from http://localhost:8000/docs/ rather than http://localhost:8000/ would probably help with catching broken absolute links during development. Is it possible to get `mkdocs serve` to do that?

[2020-10-18 16:01] kaashyapan commented on #154
How do I add application configuration ?
How do I add environment specific configuration ?

Following Don Syme's recent talk about memetic independence, I think it is an important area to cover for people who come from non .Net background.

A non-C# version of an application configuration walk through without use of Visual Studio and without assuming any prior .Net familiarity and in a location th

[2020-10-26 11:09] Zaid-Ajaj opened #194 "Femto docs: should run inside Client rather than root directory"
Femto [docs](https://safe-stack.github.io/docs/recipes/package-management/sync-nuget-and-npm-packages/) mention that step 2 (analyse dependencies) should run in the root directory. That is not the case, you should either _be_ inside the Client directory to run `femto` or _point_ Femto to where the client directory is:
[code]
Please try it out locally to make sure it works too.

I just published Fe

[2020-12-09 16:04] TerenceHinrichsen commented on #194
Ran into this one today, tried to run in Root, and got an error, thought I missed something. Should be a simple docs update.

[2021-01-21 20:57] #194 closed

[2021-03-17 09:16] Akash-Mair opened #201 "Updating docs for V3 template"
Hey guys!

I've put together a list of pages on the SAFE documentation that will need to be updated/added for the latest template
- [x] Introduction(wording .net core -> .net)
- [x] Quick Start
- [x] SAFE Stack Overview
- Components of SAFE
   -  [x] Learn about Fable
 - The SAFE Template
    - [x] The FAKE script
    - [x] Overview(table at bottom)
- How do I...
   - [x] Upgrade from V2 to V3

[2021-04-14 10:06] Akash-Mair opened #203 "Travis not deploying latest SAFE-docs"
Hey @theimowski!

It looks like for the last few merges into master the build has not been triggered since the `Owner SAFE-Stack does not have enough credits.`
Before that there seems to be an error of `Abuse Detected` for the following PR - Added 'SQLProvider SQL Server SSDT' to the Data recipes

Resources:
- https://travis-ci.com/github/SAFE-Stack/docs/requests
- https://docs.travis-ci.com/user/

[2021-04-14 18:27] theimowski commented on #203
Ouch indeed 🤦
Seems like the build for SAFE-template is taking too many Travis credits.
I've mailed the Travis support team to ask for additional OSS credits as per https://docs.travis-ci.com/user/billing-faq/#what-if-i-am-building-open-source
Let's see what they say
FYI @isaacabraham

[2021-04-15 10:16] isaacabraham commented on #203
@theimowski perhaps we could consider migrating to GitHub Actions (or Azure Dev Ops) - AFAIK both are free for OSS stuff.

[2021-04-17 08:52] theimowski commented on #203
Ok we've been granted additional Travis credits for SAFE-Stack organization 🎉
The docs plan is now unblocked and website is up to date with state of this repository 👍

[2021-04-17 08:52] #203 closed

[2021-05-06 10:45] olivercoad opened #209 "Start a list websites that use fable"
Start a list of websites/projects sites that use fable

[2021-05-06 12:11] olivercoad commented on #209
It would be good to get a number of listings in comments before making a page.
Here are a couple to start

# [facemorph.me](https://facemorph.me) - [source](https://github.com/check-face/facemorph.me)
facemorph.me has an entirely F# frontend, making heavy use of [Feliz.MaterialUI](https://github.com/Shmew/Feliz.MaterialUI). A Node.js [serverless function on Vercel](https://vercel.com/docs/serverle

[2021-06-08 07:25] isaacabraham commented on #201
@Akash-Mair are there no changes needed to recipes that e.g. reference Fulma styles etc. (we're now on Feliz)?

[2021-06-10 11:03] Akash-Mair commented on #201
Hey @isaacabraham @theimowski @Zaid-Ajaj

Just wanted to confirm if there is a need to update the 'Support for older browsers' recipe as we no longer require Babel - https://github.com/SAFE-Stack/SAFE-template/pull/415#issuecomment-850851298. If not we can move it to the Legacy portion of the docs section.

Thanks!

[2021-06-14 12:53] olivercoad commented on #201
Can you please add a task at the end to compare the generated sitemap with the current [sitemap.xml](https://github.com/SAFE-Stack/docs/blob/b16761a32ec0cc558b2fc4907f40be137c52d60e/sitemap.xml) just before merging? To make sure no paths get removed.

When I first started with Fable there were so many broken links between different blog posts and documentation and it was quite frustrating.

[2021-06-28 22:02] isaacabraham opened #228 "Update dotnet tools advice"
From https://safe-stack.github.io/docs/quickstart/

We don't use the FAKE tool any more. I think just Paket is needed. FAKE as a dotnet tool should probably be removed.

Also the tool restore is only required once.

[2021-06-29 00:10] olivercoad commented on #228
paket, fable, and fantomas

On Tue., 29 Jun. 2021, 08:02 Isaac Abraham, ***@***.***>
wrote:

[2021-06-29 10:58] isaacabraham commented on #228
Right. Maybe just updating the docs to mention one of those, and secondly removing FAKE-CLI (if not already done) from the template itself?

[2021-06-29 20:13] theimowski opened #229 "Tiny font for links in footer"
Is it just me or are these navigation links (previous and next page) in footer barely visible?

![image](https://user-images.githubusercontent.com/5909015/123861050-02459a80-d927-11eb-8f37-4e824bab7388.png)

[2021-07-01 03:58] olivercoad commented on #229
Yep, didn't even know they were there. I don't think they really belong in the footer anyway. Maybe the left side-bar would be better?

[2021-07-12 15:02] #228 closed

[2021-07-21 18:43] draptik opened #233 "feature request for documentation: add test examples"
As user of this framework I would like some guidance / best practices for writing tests.

What are typical integration or unit tests one might write (with examples in documentation)?

In C# one might consider using the `WebApplicationFactory<T>` approach.

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0

Is also reasonable here?

Don said it's ok to mention

[2021-07-22 15:33] olivercoad commented on #201
I just compared the [current sitemap](https://github.com/SAFE-Stack/docs/blob/5aac22c5edadd3ea77aeb64fdbf170b5b9cc41cc/sitemap.xml) with the [previous sitemap](https://github.com/SAFE-Stack/docs/blob/b16761a32ec0cc558b2fc4907f40be137c52d60e/sitemap.xml) and it turns out a number of pages *were* removed:

 - http://safe-stack.github.io/docs/legacy-feature-debugging/
 - http://safe-stack.github.io/d

[2021-07-22 19:44] isaacabraham commented on #201
All of the v1 content is gone, yes - the legacy folder contains the v2 content.

We could split the "legacy" bit into two folders, v1 and v2?

[2021-07-26 12:59] #201 closed

[2021-07-30 00:32] olivercoad commented on #209
Some F# Fable projects @dsyme mentioned at the start of .NET Conf Focus on F#:
 - Covid-19 tracker slovenia "uses F# Fable for the data wrangling and visualisation on the frontend"
 - m8mit is "100% F# ... using SAFE stack architecture"

[2021-08-07 11:12] StephanHintner opened #235 "Client side F# debugging in VS Code"
According to the docs you can add breakpoints to the generated *.fs.js files, but is it also possible to hit breakpoints in client side F# code?

What would be the right launch.json and or tasks.json to do so?

[2021-08-08 06:45] olivercoad commented on #235
Yes, it's possible. You need to enable the source maps generation option in the fable command.

If you're following the [debug recipe](https://safe-stack.github.io/docs/recipes/developing-and-testing/debug-safe-app/#im-using-vs-code) for using VS Code it's fairly simple. You basically just need to add `-s` to the dotnet fable command. There are some sticking points; see discussion here https://git

[2021-08-08 21:53] StephanHintner commented on #235
After adding ```-s``` to the fable command and making a change to the **Index.fs** a **index.fs.js.map** will be created.

However any breakpoint I add to the **Index.fs** is unbound.

Do I need to make changes to the default **Chrome: Attach** configuration to get things to work?
[code]

[2021-08-09 04:46] olivercoad commented on #235
Hmm I just tried it with a fresh template and got the same thing as you, all the breakpoints set are grey.
I then tried downgrading back to v3.0.0-beta004 and doing the same thing and with that it works, so something must've changed.

[2021-08-09 05:43] olivercoad commented on #235
There are a number of differences but I'm not sure what's changed that made it stop working. It doesn't seem to be to do with the fable version and no other changes between `3.0.0-beta004` and `3.0.1` look that relavent to debugging.

Any chance you could try seeing if it works for you with a `3.0.0-beta004` version of the template?

[2021-08-09 09:18] reigam opened #237 ""Serve a file from the back-end" example not working"
I tried using the "Serve a file from the back-end"example (with an out of the box standard template) and provided the xlsx file on the server.

First I got the error:
[code]
changing _FileDownloaded_ to _FileDownloaded of unit_ 'solved' that problem, but when I try to download the file, nothing happens.

npm shows the following output:
[code]

[2021-08-09 09:42] isaacabraham commented on #237
@Akash-Mair is this one of your recipes?

[2021-08-09 10:16] StephanHintner commented on #235
Debugging works great with `3.0.0-beta004`.

I played around with the **webpack.config.js** and as soon as I remove **babel-loader**  debugging no longer works.

`3.0.1` no longer uses **babel-loader** so this is probably the culprit.

[2021-08-09 12:02] olivercoad commented on #235
Nice find! Good to know it's got something to do with the webpack config.

In this comment https://github.com/SAFE-Stack/docs/pull/223#discussion_r655083871 Alfonso mentions needing the **source-maps-loader**, which I found not to be necessary after all. Maybe it is actually needed but **babel-loader** was loading source maps itself or putting them inline or something. Just speculating, IDK how it

[2021-08-09 12:20] Akash-Mair commented on #237
I did the review so I'll take a look 😊

[2021-08-09 12:40] Akash-Mair commented on #237
@reigam you're right that the `FileDownloaded` Msg needed to be of unit and I also noticed that the on click is PascalCased when it shouldn't be.
But I was able to get the file to download once I fixed those. Would you be able to share a sample repo?

[2021-08-09 13:43] isaacabraham opened #239 "Upgrade upload/download binary content recipes to use latest Fable Remoting capabilities."
See [here](https://github.com/SAFE-Stack/docs/pull/238#issuecomment-895230418).

[2021-08-09 13:54] Zaid-Ajaj commented on #239
One more thing about the serving file recipe, there is this snippet
[code]
Can be simplified to
[code]
The type abbreviation `byte` doesn't need a namespace.

[2021-08-09 14:04] reigam commented on #237
@Akash-Mair thanks for the fast reply.
I got it working by changing "~/files/file.xlsx" to "./files/file.xlsx".

This is probably a silly beginners question, but I couldn't figure out where ~ is pointing to. I tried creating an empty file
[code]
, but this still didn't work.

[2021-08-09 15:20] Akash-Mair commented on #237
Ahh I thought that the use of `~` meant substitute a valid file path but that's an assumption on my part and is worth changing to something that makes that more clearer or even having a note below.
I'll get that changed as it seems some of this recipe is due for an update!

Thanks for raising this @reigam 😁

[2021-08-09 15:23] StephanHintner commented on #235
Adding **source-maps-loader** `1.1.3` (newer version require webpack 5) did the trick, debugging now works. 🙂

[2021-08-09 15:34] reigam commented on #237
@Akash-Mair
Well, that explains it :grimacing:
"In an ASP.NET application the framework controls recognise a tilde ('~') as a shortcut to the root of the application's virtual directory."
I thought I was missing something.

Thanks again, I much appreciate the help.

[2021-08-09 15:34] #237 closed

[2021-08-18 17:28] inputusernamehere opened #241 "Code examples should include which libraries they are using"
For example on the bottom of this page: https://safe-stack.github.io/docs/recipes/client-server/messaging/

There is the following snipper:

[code]

But since there is no mention of where `Fetch.get` comes from, it's not usable as a stand-alone example. It needs more context.

After a bit of googling I think I found the library that seems to have the same syntax: Thoth.Fetch. A mention of this lib

[2021-08-22 15:37] reigam opened #242 "Broken links on "Package my SAFE app for deployment""
On the site ["Package my SAFE app for deployment"](https://safe-stack.github.io/docs/recipes/build/bundle-app/),
the first two links:

- "different port" (linking to https://safe-stack.github.io/faq-build)
- "here" (linking to https://safe-stack.github.io/template-safe-commands)

do not work.

[2021-08-22 16:21] reigam opened #243 "Feature request for documentation: add hosting "how do I"'s"
Looks like there were [examples ](https://github.com/SAFE-Stack/docs/issues/154) for how to use different hosting services in an older version of these docs (for SAFE v1).  Are there any plans to update these for v3 in the near future?

[2021-08-23 17:26] #242 closed

[2021-08-23 17:26] theimowski commented on #242
thanks!

[2021-10-20 16:29] matthewcrews opened #244 "Debug instructions for VS Code incorrect"
The instructions on the Debug page state that you should install the `Debugger for Chrome` extension into VS Code. This extension has been deprecated because the functionality is now built into VS Code.

Debug Page: https://safe-stack.github.io/docs/recipes/developing-and-testing/debug-safe-app/

Section in question
![image](https://user-images.githubusercontent.com/1593215/138133443-4ac4f433-ed49

[2021-11-30 13:52] mattgallagher92 opened #245 "Add IE11 support recipe"
Babel is no longer part of the default template from `dotnet new safe`. This made npm and webpack maintenance easier, but means that the client is no longer compatible with Internet Explorer. Add a recipe that explains how to add IE11 support back.

Relates to https://github.com/SAFE-Stack/SAFE-template/pull/415#issuecomment-851579254.

[2021-11-30 14:00] mattgallagher92 commented on #245
Kevin Frey has provided some information to help:

- [Minimal repo updated to work with IE11](https://github.com/Freymaurer/SAFE-MinExcel)
- Relevant part of [package.json](https://github.com/Freymaurer/SAFE-MinExcel/blob/b87b597d70cba6484dd95ba3b59395ecfcba31ad/package.json#L9-L11):
[code]
- [webpack.config.js CONFIG](https://github.com/Freymaurer/SAFE-MinExcel/blob/b87b597d70cba6484dd95ba3b59395

[2021-12-03 11:49] Freymaurer commented on #245
While working with webpack 5 and the changes shown above i noticed that hot module replacement is broken. I checked the error message and found the following [post](https://stackoverflow.com/questions/65640449/how-to-solve-chunkloaderror-loading-hot-update-chunk-second-app-failed-in-webpa) referring to this [comment](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/88#issuecomment-627

[2022-02-01 16:37] jkone27 opened #249 "NET6"
how to configure for NET6 ?

i followed the intro from the SAFE template using latest template, but i have dotnet NET6 sdk installed (6.0.1)

what changes are required (i removed the global.json and moved all projects to net6 but i get errors..)

dotnet tool restore worked fine

dotnet run gives this errors..

[code]

[2022-02-01 16:40] jkone27 commented on #249
i have issue in my nodejs installation..

[2022-02-01 16:40] #249 closed

[2022-02-02 12:57] isaacabraham commented on #249
Probably you'll need to update your Paket dependencies file to target NET6 instead of NET5.

We're planning on upgrading the template but whilst there are issues with F# Task implementation we don't want to do it.

[2022-02-06 16:15] theimowski commented on #249
What are the issues with F# task implementation? Can you link a reference?

[2022-02-07 10:43] isaacabraham commented on #249
[This](https://github.com/dotnet/fsharp/issues/12359) is the one I'm thinking of.

[2022-05-31 13:09] Freymaurer opened #251 "Mistake in Client tests recipe?"
Hello!

I am pretty sure [this](https://github.com/SAFE-Stack/docs/blob/3c7d0087a740b182ebda91a8e1653751ce638ad7/docs/recipes/developing-and-testing/testing-the-client.md?plain=1#L54):

[code]

Should be:

[code]

[2022-06-24 18:33] sonicbhoc opened #252 "Azure Type Provider warning may be outdated"
On this page:
https://safe-stack.github.io/docs/component-azure/

Near the bottom, the following warning is issued:

`Many of the above services have ready-made SDKs that can be run on .NET and therefore from F#. In addition, the [Azure Storage Type Provider](http://fsprojects.github.io/AzureStorageTypeProvider/) provides unparallel ease of access to Azure Storage Blobs, Queues and Tables from F#

[2022-06-29 10:50] ajeckmans commented on #158
@theimowski  We're over 20 months past your last comment. I guess it can be closed now?

[2022-07-26 12:06] OtagIt commented on #239
Unfortunately, there is also missing example how to handle uploading of file on the server (saturn) side.

Invalid link with text **send the file from the client to the server** in _upload-file-from-client.md_ ("Upload file from the client")

It would be great to have complete example there.

[2022-09-12 15:19] isaacabraham opened #256 "Add article for implementing DI in the Server"
[This PR](https://github.com/SAFE-Stack/SAFE-template/pull/466) could act as the basis for this.

The article should *not* explain the costs / benefits of DI - link to other places for that.

[2022-10-26 14:39] isaacabraham opened #257 "Create a recipe to migrate to tailwind."